.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main {
  background-color: grey;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.App-main p {
  font-size: 1.35em;
}
.label-header {
  font-size: 1.5em;
  padding-bottom: 10px;
}
.tip-form input {
  border-radius: 10px
}
.tip-form label{
  display: flex;
  flex-flow: column;
  margin: 1.5em auto;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
